.navbar {
  display: flex;
  flex-direction: row;
  background-color: #22272e;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 0.5%;
  width: 100%;
  height: 7%;
  color: white;
}

.navbar-left {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  color: inherit;
  background-color: inherit;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  margin-right: 3.5%;
  color: inherit;
  background-color: inherit;
}

.navbar-content {
  height: 7%;
  margin-left: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 2%;
  text-align: center;
  color: inherit;
}

.text-link {
  color: inherit;
  text-decoration: none;
  height: 7%;
}

.text-link:hover {
  /*  color: #586069; */
  color: grey;
}

.github-icon {
  height: 30px;
  width: 30px;
}

.search-box {
  background-color: black;
  color: inherit;
  border-color: black;
  height: 900%;
  border-radius: 10px;
}

.submit-search {
  color: inherit;
  background-color: inherit;
  width: 20px;
  height: 20px;
}
